.html, body{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  
}
body {
  background-image: url('https://i.pinimg.com/originals/6d/27/9b/6d279bc9828e533ff497fe5ee846fce6.gif');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#button-1 {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 2rem;
  line-height: 23px;
  padding: 3rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

#button-1:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#button-1:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
h1 {
  font-size: 5rem;
  -webkit-text-stroke: 1px black;
  color: rgb(0, 0, 0);
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
      
}
h3 {
  font-size: 2rem;
  text-shadow:
  -1px 0px 0px rgb(0, 0, 0),
  1px 0px 0px rgb(0, 0, 0),
  0px -1px 0px rgb(0, 0, 0),
  0px 1px 0px rgb(0, 0, 0);color: rgb(0, 0, 0);
  
  }

