* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.container {
  min-height: 120vh;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(60%);
  background-image: url("https://sobrevivirrhhe.files.wordpress.com/2022/05/2202_empresa_fichasweb_shutterstock_1932042689_1920x10802.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.name {
  color: #fff;
  padding: 25px;
}
.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.card h2 {
  color: rgb(0, 0, 3);
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card .box1,
.box2,
.box3,
.box4{
  width: 90%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.box1 {
  background-image: url("https://i.pinimg.com/originals/40/6f/ce/406fce1069443f591700ba715ca3b3dc.gif");
}
.box2 {
  background-image: url("https://i.pinimg.com/originals/79/f9/7e/79f97e91f965b8a000d09244c1d9332e.gif");
}
.box3 {
  background-image: url("https://i.pinimg.com/originals/e4/d3/95/e4d395849317f98f2a418c0e10182b0d.gif");
}
.box4 {
  background-image: url("https://i.pinimg.com/originals/c6/6b/dd/c66bdde5b081de5f848e73c8ccc515e8.gif");
}
.box5 {
  background-image: url("https://i.pinimg.com/originals/9b/ec/83/9bec831078051d4fc5f06e964da71760.gif");
  width: 200%;
  height: 330px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.name h2 {
  font-size: 2rem;
  letter-spacing: 2.8px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.txt h1 {
  font-size: 3rem;
}
.name p {
  opacity: 0.4;
}
.tnx h2 i {
  color: #050200;
}
.card div {
  transition: 0.5s;
}
.card div:hover {
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
